<ion-header>
  <ion-toolbar>
    <ion-row>
      <app-without-side-menu></app-without-side-menu>
      <ion-title>regist</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresh></app-refresh>
  <section class="regist">
    <form [formGroup]="registForm" 
    (submit)="addNewUser(repeatPass.value)">
      <div class="form-group form__el">
        <ion-input formControlName="userName" name="userName" type="text" placeholder="Ваше Имя..." #userName></ion-input>
        <div class="alert alert-danger"
        *ngIf="registForm.controls.userName.errors?.required && registForm.controls.userName.touched && !submited">
          <span class="alert__txt">Имя должно содержать минимум 
            1 символов и максимум 15 символов</span>
        </div>
      </div>
      <div class="form-group form__el">
        <ion-input formControlName="userEmail" name="userEmail" type="email" placeholder="Email" required #userEmail></ion-input>
        <div class="alert alert-danger"
        *ngIf="registForm.controls.userEmail.errors?.required && registForm.controls.userEmail.touched && !submited">
          <span>Почта указана не верно</span>
        </div>
      </div>
        <div class="form-group form__el">
          <ion-input formControlName="userPassword" name="userPassword" type="password" placeholder="Пароль" #userPass></ion-input>
          <div class="alert alert-danger"
          *ngIf="registForm.controls.userPassword.errors?.required && registForm.controls.userPassword.touched && !submited">
            <span>Минимальная длина 8 символов,
              пароль должен состоять из букв и цифр
            </span>
          </div>
        </div>
        <div class="form-group form__el">
          <ion-input name="userRepeatPass" type="password" placeholder="Повторите пароль" #repeatPass></ion-input>
        </div>
      <ion-list>
        <ion-radio-group>
          <ion-item class="form-group form__el" *ngFor="let gender of userGender">
            <ion-label>{{ gender }}</ion-label>
            <ion-radio value="{{ gender }}" 
            checked="checked" (change)="radioGengre($event)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="form-group form-el">
        <div>
          <label>Role:  </label>
          <select name="userRoles" formControlName="userRole">
            <option *ngFor="let role of userRoles" value="{{ role }}">
              {{ role }}
            </option>
          </select>
        </div>
        <div class="alert alert-danger"
          *ngIf="userRoles.touched && userRoles.invalid">
            <span>Выберите роль</span>
        </div>
      </div>
      <ion-button (click)="addNewUser(repeatPass.value)">Регистрация</ion-button>
    </form>
  </section>
</ion-content>
