<ion-header>
  <ion-toolbar>
    <ion-row>
      <app-without-side-menu></app-without-side-menu>
      <ion-title>{{ currentUser.userName }}</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon class="logOut" ios="ios-log-out"
    md="md-log-out" (click)="signOut()"></ion-icon>
    <ion-toolbar class="avatar" lines="none">
      <ion-avatar>
        <img (click)="uploadImage()" 
        [src]="avatarUrl"
        id="avatarImage">
      </ion-avatar>
      <input id="uploadFile" type="file" 
      style="display: none;"
      (change)="changeListener($event)">
      <div class="userName">
          <strong>{{ currentUser.userName }}</strong>
      </div>
    </ion-toolbar>

    <ion-list>
      <ion-item lines="none">
          <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
          <ion-label>Edit profile</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
        <ion-label>Notitfication</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon ios="ios-basket" md="md-basket"></ion-icon>
        <ion-label>Shopping bag</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon ios="ios-help-circle" md="md-help-circle"></ion-icon>
        <ion-label>FAQ</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
